.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace
*.xcworkspace/xcuserdata/
*.xcuserdatad
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
*.xcbkptlist
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# SwiftLint
.swiftlint.yml

# User-specific
*.swp
*~
